@import "settings";
@import "functions/index";
html {
  font-family: $font-family;
  font-size: 12px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: $background-color;
  @media screen and (min-width: $breakpoint-md){
    font-size: $font-size;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
@import "components/index";
