@import "assets/scss/base";

.tasks-table {
  background-color: map_get($baseColors, 'white');
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  width: 100%;
  border-collapse: collapse;
  &__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EBEFF2;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: left;
  }
  &__cell_title {
    padding: size(14px);
    flex-basis: 100%;
    text-align: left;
    color: map_get($baseColors, 'dark blue text');
    opacity: 0.5;
  }
}
