@import "assets/scss/base";

.tasks-table__row {
  //display: flex;
  //align-items: center;
  &:not(:last-of-type) {
    border-bottom: 1px solid #EBEFF2;
  }
  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}
.tasks-table__cell {
  padding: 4px;
  color: map_get($baseColors, 'table gray');
  font-weight: normal;
  font-size: size(13px);
  line-height: size(19px);
  @media screen and (min-width: $breakpoint-sm){
    padding: size(22px);
  }
  &_collapse {
    visibility: collapse;
    overflow-x: hidden;
    width: 0.5rem;
    max-width: 0.5rem;
    //border-left: 1px solid #EBEFF2;
    padding-left: 2px;
    padding-right: 2px;
    display: table-cell !important;
  }
  &_checkbox {
    width: size(19px);
    height: size(19px);
  }
  &__avatar {
    margin-right: size(12px);
  }
  &_name {
    font-weight: 500;
    font-size: size(15px);
    line-height: size(22px);
    letter-spacing: 0.01em;
    color: map_get($baseColors, 'table black');
    display: flex;
    @media screen and (min-width: $breakpoint-sm){
      font-size: size(12px);
      line-height: size(15px);
    }
  }
}
