@import "assets/scss/base";

.tasks-table__row {
  //display: flex;
  //align-items: center;
  &:not(:last-of-type) {
    border-bottom: 1px solid #EBEFF2;
  }
  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}
.tasks-table__cell {
  padding: 22px;
  color: map_get($baseColors, 'table gray');
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  &_collapse {
    visibility: collapse;
    overflow-x: hidden;
    width: 0.5rem;
    max-width: 0.5rem;
    border-left: 1px solid #EBEFF2;
    padding-left: 2px;
    padding-right: 2px;
  }
  &__avatar {
    margin-right: 12px;
  }
  &_name {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: map_get($baseColors, 'table black');
    display: flex;
  }
}
