@import "assets/scss/base";
.sidebar-profile {
  padding: 25px 9.5%;
  display: flex;
  &__avatar {
    margin-right: 1rem;
    &_collapsed {
      margin-right: 0;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__name {
    color: map_get($baseColors, 'black')
  }
  &__email {
    color: map_get($baseColors, 'gray')
  }
}
